{% load static %}
<link rel="stylesheet" href="{% static 'card/card2.css' %}" />
<div class="row row-cols-2">
    <div class="col-md-3" style="text-align: center;">
        <form method="post" action="selectcard" name="card">
            {% csrf_token %} <br><br>
            <input type="hidden" name="card" value="2" >
            <input type="hidden" name="price" value="300" >
            <input type="hidden" name="heading" value="{{heading}}" />
            <input type="hidden" name="subheading" value="{{subheading}}" />
            <input type="hidden" name="address" value="{{address}}" />
            <input type="hidden" name="website" value="{{website}}" />
            <input type="hidden" name="phone" value="{{phone}}" />
            <input type="hidden" name="quantity" value="{{quantity}}" />
            <button type="submit" class="btn rounded-pill btn-outline-info">Select</button><br><br>
            Price Rs
            <span class="badge rounded-pill bg-warning">300</span><br>
        </form>
    </div>
    <div class="col-md-9 container-sm" >
        <div class="display">
            <div class="display-item">
                <div class="business-card">
                    <div class="profile">
                        <div class="profile-title">
                            <h3>{{heading}}</h3>
                            <span>{{subheading}}</span>
                        </div>
                    </div>
                    <div class="info">
                        <div class="info-contact">
                            <span>{{phone}}</span>
                            <span>{{website}}</span>
                            <span>{{address}}</span>
                        </div>
                        <!-- <div class="info-bio">
                            <p>{{address}}</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider">
    <div class="divider-text">--</div>
</div>
{% block card2 %}
{% endblock %}