{% load static %}
<link rel="stylesheet" href="{% static 'card/card1.css' %}" />
<div class="row row-cols-2">
  <div class="col-md-2" style="text-align: center;"><br><br><br>
    <form method="post" action="reorderCard" name="card" >
      {% csrf_token %}
      <input type="hidden" name="oid" value="{{x.oid}}"/>
      <center>
        <div class="col-md-6">
          <input class="form-control" type="number" name="qtyt" value="{{x.ucid.quantity}}" id="html5-email-input" />
        </div>
      </center>
      <button type="submit" class="btn rounded-pill btn-icon btn-warning">
        <span class="tf-icons bx bx-cart"></span>
      </button>
    </form>
  </div>
  <div class="col-md-2" style="text-align: center;"><br><br><br>
    Status
    <span class="badge rounded-pill {% if x.ordstatus == 'success' %} bg-success {% else %} bg-danger {% endif %}">{{ x.ordstatus }} </span><br>
    Price
    <span class="badge rounded-pill bg-info"> {{ x.ucid.price_for_one }}</span><br>
    Order Date
    <span class="badge rounded-pill bg-warning"> {{ x.created_at|date:"d M Y" }} </span><br>
    Totoal Amount
    <span class="badge rounded-pill bg-success"> {{ x.ucid.totalAmount }} </span><br>
    Quantity
    <span class="badge rounded-pill bg-dark"> {{ x.ucid.quantity }} </span>
  </div>
  <div class="col-md-8 container-sm" >
    <div class='business-cardd'>
      <div class='bc__logo'>
        <h2>{{x.ucid.heading}}</h2>
      </div>
      <div class='bc__tagline'>
        <p>{{x.ucid.subheading}}</p>
        <p>{{x.ucid.mobile}}</p>
        <p>{{x.ucid.website}}</p>
        <p>{{x.ucid.address}}</p>
      </div>
    </div>
  </div>
</div>
<div class="divider">
  <div class="divider-text">--</div>
</div>
{% block card1 %}
{% endblock %}